<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_effup/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,108}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,246},{152,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,108}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,246},{152,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,108}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,246},{152,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,108}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,246},{152,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,108}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,246},{152,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,108}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,246},{152,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,110}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{148,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,110}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{148,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,110}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{148,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,110}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{148,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,110}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{148,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,110}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{148,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Boss_effup/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,110}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{148,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boss_effup.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:440b75acc68693e4d1c340967b286685:1/1$</string>
            <key>textureFileName</key>
            <string>Boss_effup.png</string>
        </dict>
    </dict>
</plist>
