<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_10_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,706},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_11_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,706},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_12_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,354},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_13_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,354},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_14_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1358},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_15_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,856},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_1_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1162},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_1_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1766},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_2_Ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1464},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1162},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_2_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,960},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_2_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_3_Ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,758},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_3_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,556},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_3_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,354},{200,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>level_3_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_4_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_5_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_6_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_7_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_8_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_9_star_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gateMap_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f009b9bac7f81b6523bf6a8ca230c321:1/1$</string>
            <key>textureFileName</key>
            <string>gateMap_4.png</string>
        </dict>
    </dict>
</plist>
