<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_11_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1410},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_11_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1410},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_11_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1410},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_11_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_12_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1058},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_12_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1058},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_12_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1058},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_12_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_13_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,706},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_13_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,706},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_13_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,706},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_13_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_14_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,354},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_14_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,354},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_14_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,354},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_14_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_15_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_15_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_15_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>level_15_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gateMap_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f9c3b48b0a357c3a0884113ccaf355:1/1$</string>
            <key>textureFileName</key>
            <string>gateMap_3.png</string>
        </dict>
    </dict>
</plist>
