<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>faPower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{686,536}}</string>
                <key>offset</key>
                <string>{78,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,98},{686,536}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>fabutton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,662},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>fabutton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,530},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>jianPower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{686,536}}</string>
                <key>offset</key>
                <string>{78,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,98},{686,536}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>jianbutton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,398},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>jianbutton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,266},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>rouPower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,536}}</string>
                <key>offset</key>
                <string>{78,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,98},{686,536}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>roubutton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,134},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>roubutton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mijiLayer.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2054222c97e2af9aef2b2126a8423e6:1/1$</string>
            <key>textureFileName</key>
            <string>mijiLayer.png</string>
        </dict>
    </dict>
</plist>
